---
import Title from "@components/global/Title.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
	<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:py-32">
		<div>
			<Title title="BARGHEST" subtitle="{ BARG-HEST }" class="pb-10 pt-20 uppercase" />
		</div>
		<div class="prose-styles mt-12 lg:mt-24">
			<h2>[ ABOUT ]</h2>
			<p>We are a non-profit company limited by guarantee (CLG) registered in the United Kingdom. We work in and for civil society, with most of our programmes based in East and South Asia. For U.S.-based funders, we are treated as the equivalent of a 501(c)(3) organization for grantmaking purposes.</p>
			<p>BARGHEST is a security research organization that works to protect human rights defenders & journalists who are exposed to sophisticated mobile surveillance, malware and digital repression, particularly in East and South East Asia. We focus on communities for whom existing security ecosystems are slow, centralized, and difficult to access, and we build tools and workflows that allow them to investigate and respond to digital threats safely, even under censorship and connectivity constraints.</p>
            <p>Our core work combines security research, software engineering, and community adoption. Technically, we design and maintain open, decentralized forensic capabilities that support self-service triage, travel integrity checks, and remote evidence collection, translating advanced reverse engineering and threat hunting methods into guided workflows that non-specialist users can operate. Programmatically, we work with regional partners, helplines, and labs to embed these tools into real-world security practices, develop consent and redaction protocols, and create operational playbooks that prioritize safety, evidentiary integrity, and local control.</p>
			<p>Barghest’s team brings together senior experience in reverse engineering, zero-day research, and nation-state threat analysis with long-standing work in digital protection, governance, and impact within human rights organizations. We maintain and harden the technical core of our tools, steward open community infrastructure, and support partners to run decentralised, locally owned deployments. Across all of our work, our mission is to shift forensic power from closed commercial vendors and distant experts to frontline communities themselves, strengthening their autonomy, resilience, and ability to document and resist digital attacks.</p>
			<h2 class="mt-12">[ CONNECT ]</h2>
			<p>If you are a collaborator, contributor, and partners who shares our vision. Whether you're a security researcher, developer, or organization working in the human rights space, we'd love to hear from you.</p>
			<p>Contact us at <a href="mailto:info@barghest.asia" class="text-black hover:underline font-semibold">info@barghest.asia</a></p>
		</div>
	</div>
</section>

