---
import Title from "@components/global/Title.astro";
---

<section>
	<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:py-32">
		<div>
			<Title title="Terms" subtitle="Last updated 10/8/2025" class="pb-10 pt-20 uppercase" />
		</div>
		<div class="prose-styles mt-12 lg:mt-24">
			<h2 id="description-all-the-terms-that-you-agree-to-when-you-sign-up-for-a-Majestico-product-">
				There aren't any. Because we don't collect any data.
			</h2>
			<p>If you have any questions about this, please contact us at info@barghest.asia.</p>
		</div>
	</div>
</section>
